<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <div class="mx-auto" style="width: 200px;">
    <h1>Welcome, <%= user ? user.profile.name : "friend" %></h1>
    <% if (user?.profile.avatar) { %>
      <div>
        <img 
          src="<%= user.profile.avatar %>" 
          alt="<%= user.profile.name %> avatar"
        >
      </div>
    <% } %>
  </main>
  
  <div class="mx-auto" style="width: 200px;"><br>
    <a href="/posts/new" <button type="button" class="btn btn-primary">Create Post</button></a>
  
  <body>
      <div class="container">
      <h1 class="py-4"><%= title %></h1>
      <h2 class="mb-3">All Items for Sale</h2>
      <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g5 px-4">
        <% posts.forEach(post => { %>
            <div class="card-body">
              <h5 class="card-title"><%= post.title %></h5>
              <p class="card-text">$<%= post.price %></p>
              <p class="card-text"><small class="text-bold">Listed By: <%= post.author.name %></small></p>
              <p class="card-text"><small class="text-bold"><%= post.date %> </small></p>
            </div>
          </div>
          <a href="/posts/show/<%= post._id %>">
            <button type="button" class="btn btn-info">Details</button>
          </a>
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Comment
          </button>

          <!-- Modal -->
          <form action="/posts"  method="POST">
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby=" <%= post._id %> " aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Comment</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body" type="text">
                    <textarea name= "description" class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Comment Here"></textarea>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary">Submit</button>
                  </div>
                </div>
              </div>
          </form>
          </div>
        <% }) %>      
  </body>
  </div>
  
 
<%- include('./partials/footer') %>
