<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

</head>
<body>
  <h1><%= post.title %> </h1>
  <div class="card">
    <img src="<%= user.profile.avatar %>" class="rounded mx-auto d-block" alt="...">
    <div class="card-body">
      <h3 class="card-title"><%= post.title %></h3>
      <p class="card-text">$<%= post.price %></p>
      <p class="card-text"><%= post.description %> </p>
      <p class="card-text"><small class="text-muted">Listed By: <%= post.author.name %></small></p>
      <p class="card-text"><small class="text-muted"><%= post.date %> </small></p>
      <% if (user.profile._id.equals(post.author._id)) { %>
        <form  action="/posts/show/<%= post._id %>?_method=DELETE" method="POST">
          <button type="submit" class="btn btn-danger">Delete Post</button>
        </form>
        <a href="/posts/<%= post._id %>/edit">
          <button type="submit" class="btn btn-primary">Edit</button>
        </a>
        <% } %> 
        <br> 
        
        <form action="/posts/show/<%= post._id %>/comment" method="POST">
          <h4>Add a New Comment</h2>
          <label for="comment">comment content: </label>
          <input type="text" name="content">
          <br>
          <button type="submit">Save!</button>
        </form>
          <% post.comments.forEach(comment => { %>
            <div class="card">
              <div class="card-header">
               
              </div>
              <div class="card-body" name="comment">
                <h5 class="card-title"><%= comment.author.name %> </h5>
                <p class="card-text" name="content"><%= comment.content %> </p>
                <% if (user.profile._id.equals(comment.author._id)) {%>
                  <form  action="/posts/show/<%= comment._id %>/?_method=DELETE" method="POST">
                    <button type="submit" class="btn btn-danger">Delete comment</button>
                  </form>
                <% } %> %> 
              </div>
            </div>
          <% }) %> 
    </div>
  </div>
</body>
<%- include('../partials/footer') %>
